<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
  </head>
  <body>
    <img src="{{product.imageUrls.[0]}}" alt="image" width="300" />
    <h1>{{product.name}}</h1>
    <h3>Brand: {{product.brand}}</h3>
    <h3>Category: {{product.category}}</h3>
    <h2>Rs. {{product.price}}</h2>
    <p>{{product.description}}</p>
  </body>
</html>